---
import Layout from "../Layout.astro";
import { Image } from "astro:assets";
import me from "../me.jpeg";
---

<Layout>
  <section id="home">
    <div class="flex items-center gap-2">
      <Image
        class="rounded-full object-cover aspect-square w-32 md:w-48 lg:w-64"
        layout="constrained"
        src={me}
        width="600"
        height="600"
        alt="Picture of me with a white shirt in a brown background"
      />
      <h1
        class="grow text-lg md:text-2xl lg:text-3xl text-foreground text-center"
      >
        I am Kostas Koukos
      </h1>
    </div>
  </section>
  <section id="contact">
    <h2 class="text-xl md:text-2xl lg:text-3xl m-4">Contact</h2>
    <ol class="flex flex-col gap-2 md:gap-4 pl-4 md:pl-8">
      <li class="flex">
        <span class="w-25 text-muted-foreground">email:</span><a
          class="bg-muted px-1 py-0.5 hover:bg-foreground active:bg-foreground hover:text-background active:text-background"
          href="mailto:kkonst2014@gmail.com">kkonst2014@gmail.com</a
        >
      </li>
      <li class="flex">
        <span class="w-25 text-muted-foreground">github:</span><a
          class="bg-muted px-1 py-0.5 hover:bg-foreground active:bg-foreground hover:text-background active:text-background"
          href="https://github.com/kostaskoukos">/kostaskoukos</a
        >
      </li>
      <li class="flex">
        <span class="w-25 text-muted-foreground">instagram:</span><a
          class="bg-muted px-1 py-0.5 hover:bg-foreground active:bg-foreground hover:text-background active:text-background"
          href="https://www.instagram.com/konstantinoskoukos_/"
          >/konstantinoskoukos_</a
        >
      </li>
      <li class="flex">
        <span class="w-25 text-muted-foreground">location:</span><span
          class="px-2 py-0.5">Thessaloniki, GR (UTC+2)</span
        >
      </li>
    </ol>
  </section>
</Layout>
