---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import Card from "../components/Card.astro";
---

<Layout title="Kostas' Portfolio">
  <main class="px-4 py-4">
    <div class="flex flex-col gap-3">
      <h1
        class="inline-block bg-[linear-gradient(to_right,theme(colors.primary),theme(colors.accent))] bg-clip-text text-4xl font-black text-[transparent] drop-shadow-sm md:text-5xl"
      >
        Kostas Koukos
      </h1>
      <p class="w-2/3">Meet your next favorite full-stack developer!</p>
      <div class="flex flex-row items-center gap-4">
        <a
          class="text-md cursor-pointer rounded-full bg-primary px-4 py-2 text-center text-background transition-transform duration-200 hover:scale-105 hover:brightness-75"
          href="#about">About me</a
        >
        <Link href="#projects">Projects</Link>
      </div>
    </div>
    <h2 class="my-4 text-2xl font-semibold" id="projects">Projects</h2>
    <section
      class="grid place-items-center gap-3 md:grid-cols-2 lg:grid-cols-3"
    >
      <Card
        description="Discord bot with slash commands, written in Golang"
        title="Slash bot"
      />
    </section>
  </main>
</Layout>
