---
import Layout from "../layouts/Layout.astro";
interface Props {
  frontmatter: { title: string; date: string; slug: string };
}
const { title, date } = Astro.props.frontmatter;
---

<Layout page="blog" title={title}>
  <article
    class="prose-md prose mx-auto my-8 px-4 md:prose-lg prose-headings:text-text prose-h1:text-3xl prose-h1:font-black prose-p:text-justify prose-p:text-text md:prose-h1:text-4xl"
  >
    <div class="flex justify-between text-gray-900 dark:text-gray-400">
      <span
        >{
          Intl.DateTimeFormat("en-US", { dateStyle: "medium" }).format(
            new Date(date),
          )
        }</span
      >
      <span>Kostas Koukos</span>
    </div>
    <slot />
  </article>
</Layout>
