@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #171717;
    --background: #f7f7f7;
    --primary: #3bde77;
    --secondary: #c3bfbb;
    --accent: #2ad9f8;
  }
  .dark {
    --text: #e8e8e8;
    --background: #080808;
    --primary: #21c45d;
    --secondary: #44403c;
    --accent: #07b6d5;
  }
}
@font-face {
  font-family: "Monaco";
  src: url("/Monaco.woff2");
}
