---
import "./global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="max-w-full font-mono bg-background text-foreground px-4">
    <header
      class="max-w-3xl mx-auto flex items-center justify-between py-4 border-b border-dotted"
    >
      <nav>
        <ul class="flex align-center gap-2">
          <li>
            <a
              href="/#home"
              class="p-2 text-sm md:text-base bg-background text-foreground hover:text-background hover:bg-foreground active:text-background active:bg-foreground"
              >Home</a
            >
          </li>
          <li>
            <a
              href="/#projects"
              class="p-2 text-sm md:text-base bg-background text-foreground hover:text-background hover:bg-foreground active:text-background active:bg-foreground"
              >Projects</a
            >
          </li>
          <li>
            <a
              href="/#blog"
              class="p-2 text-sm md:text-base bg-background text-foreground hover:text-background hover:bg-foreground active:text-background active:bg-foreground"
              >Blog</a
            >
          </li>
          <li>
            <a
              href="/#contact"
              class="p-2 text-sm md:text-base bg-background text-foreground hover:text-background hover:bg-foreground active:text-background active:bg-foreground"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
      <button
        id="theme"
        class="cursor-pointer size-4 rounded-full bg-foreground"></button>
      <script>
        const doc = document.documentElement;
        const toggleDark = () => {
          doc.classList.toggle("dark");
          localStorage.setItem(
            "theme",
            doc.classList.contains("dark") ? "dark" : "light",
          );
        };
        document.querySelector("#theme")?.addEventListener("click", toggleDark);
        if (localStorage.getItem("theme") == null) {
          if (window.matchMedia("(prefers-color-scheme: dark)").matches)
            toggleDark();
        } else if (localStorage.getItem("theme") === "dark") toggleDark();
      </script>
    </header>
    <main class="max-w-3xl mx-auto">
      <slot />
    </main>
  </body>
</html>
